<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chess</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <!-- <script src="script.js" defer></script> -->
    </head>
    <h1>Chess</h1>
    <div class="chessboard">
        
        <!-- Row 1 -->
        <div class="space">
            <div class="piece" id="black-rook">&#9820;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-knight">&#9822;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-bishop">&#9821;</div>
        </div>
        <div class="space">
            <div class="piece" id="'black-queen">&#9819;</div>
        </div>
        <div class="space">
            <div class="piece" id="'black-king">&#9818;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-bishop">&#9821;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-knight">&#9822;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-rook">&#9820;</div>
        </div>

        <!-- Row 2 -->
        <div class="space">
            <div class="piece" id="black-pawn">&#9823;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-pawn">&#9823;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-pawn">&#9823;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-pawn">&#9823;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-pawn">&#9823;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-pawn">&#9823;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-pawn">&#9823;</div>
        </div>
        <div class="space">
            <div class="piece" id="black-pawn">&#9823;</div>
        </div>

        <!-- Row 3 -->
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>

        <!-- Row 4 -->
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>

        <!-- Row 5 -->
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>

        <!-- Row 6 -->
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>

        <!-- Row 7 -->
        <div class="space">
            <div class="piece" id="white-pawn">&#9817;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-pawn">&#9817;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-pawn">&#9817;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-pawn">&#9817;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-pawn">&#9817;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-pawn">&#9817;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-pawn">&#9817;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-pawn">&#9817;</div>
        </div>

        <!-- Row 8 -->
        <div class="space">
            <div class="piece" id="white-rook">&#9814;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-knight">&#9816;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-bishop">&#9815;</div>
        </div>
        <div class="space">
            <div class="piece" id="'white-queen">&#9813;</div>
        </div>
        <div class="space">
            <div class="piece" id="'white-king">&#9812;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-bishop">&#9815;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-knight">&#9816;</div>
        </div>
        <div class="space">
            <div class="piece" id="white-rook">&#9814;</div>
        </div>

        
        
    </div>
</html>